body {
	background-color: #90f2ff;
	font-family: "Palatino", monospace;
	
}

#homeTable {
	   border-collapse: collapse;
    margin: 100px 0;
    font-size: 2em;
    font-family: palatino;
    min-width: 400px;
    box-shadow: 0 0 40px rgba(54, 52, 166, 0);
}

navbar {
	background-image: url("IMG_5594.jpg");
	background-size: cover;
	min-height: 100%;
}

a:hover {
	text-decoration: red;
}