body {
	background-color: #90f2ff;
	font-family: "Palatino", monospace;
	
}

navbar {
	background-image: url("IMG_5594.jpg");
	background-size: cover;
	min-height: 100%;
}

a:hover {
	text-decoration: red;
}