body {
	background-color: #90f2ff;
	font-family: "Palatino", monospace;
	text-align: center;
}

#homeTable {
	background-color: #fffb9b;
	border-collapse: collapse;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	font-family: palatino;
	min-width: 400px;
	box-shadow: 0 0 20px rgb(20, 80, 77);
	text-align: center;
	width: 75%;
}

#displayTable {
	background-color: #fffb9b;
	border-collapse: collapse;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	font-family: palatino;
	min-width: 300px;
	box-shadow: 0 0 20px rgb(20, 80, 77);
	text-align: justify;
	width: 55%;
	
}

#urTable {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	font-family: palatino;
	min-width: 300px;
	border: black 1px;
	text-align: center;
	padding: 33px;
	width: 80%;
	font: black;
}

 td {
	padding: 15px;
}
th {
	font-weight: bolder;
	font-size: 2em;
	text-align: center;
}

nav {
	color: light grey;
	background-size: cover;
	min-height: 100%;
	background-size: cover;
	font-size: 44px;
	text-align: left;
}